@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --inset1: -2px -2px 2px rgba(60, 60, 60, 0.75);
  --inset2: 2px 2px 2px rgba(100, 100, 100, 0.25);
  --background: linear-gradient(125deg, #aaa, #fff);
  --card-background: linear-gradient(125deg, #ddd, #aaa);
  --foreground: #171717;
  --color-primary: #155dfc;
  --hover-primary: #193cb8;
  --color-secondary: #ac6a75;
  --hover-secondary: #864751;
  --color-link-active: #155dfc;
  --black: #222;
  --white: #eee;
}

[data-theme='dark'] {
  --inset1: -2px -2px 2px rgba(10, 10, 10, 0.75);
  --inset2: 2px 2px 2px rgba(80, 80, 80, 0.25);
  --background: linear-gradient(125deg, #111, #333);
  --card-background: linear-gradient(125deg, #393939aa, #191919aa);
  --foreground: #ededed;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  color: var(--foreground);
  background: var(--background);
  background-position: fixed;
}

.card {
  box-shadow:
    inset var(--inset1),
    inset var(--inset2),
    10px 5px 12px rgba(0, 0, 0, 0.5);
  background: var(--card-background)
}

.movil-menu {
  animation: reveal 0.5s ease-in-out forwards;
}

.movil-menu li {
  opacity: 0;
  animation: reveal 0.5s ease-in-out forwards;
}


@keyframes reveal {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[var(--color-primary)] px-4 py-2 text-base sm:text-xs 2xl:text-base rounded-lg tracking-widest shadow border-[var(--black)] cursor-pointer hover:bg-[var(--hover-primary)] transition-colors duration-300
  }

  .btn-secondary {
    @apply bg-[var(--color-secondary)] px-4 py-2 text-base sm:text-xs 2xl:text-base rounded-lg tracking-widest shadow border-[var(--black)] cursor-pointer hover:bg-[var(--hover-secondary)] transition-colors duration-300
  }

  .input {
    @apply px-4 py-2 rounded-lg shadow border-[var(--black)] bg-[var(--white)] text-[var(--black)] text-center text-lg
  }

  .input:focus {
    @apply bg-blue-300
  }

  .link {
    @apply font-bold px-4 py-0 tracking-widest cursor-pointer hover:text-[var(--hover-primary)] transition-colors duration-300 text-xl sm:text-sm 2xl:text-xl
  }

  .link.active {
    @apply border-b text-[var(--color-link-active)] font-bold
  }

  .card {
    @apply flex flex-col items-center justify-center p-12 sm:p-6 2xl:p-12 rounded-lg w-[95%] sm:w-[17rem] 2xl:w-[25rem] gap-12 sm:gap-6 2xl:gap-12
  }

  .hover {
    @apply hover:text-[var(--hover-primary)] transition-colors duration-300
  }
}